<div style="float: left;">
  <ul>
    <li *ngFor="let cat of cats" (click)=selectCat(cat) >
     <a href="#"> {{cat.cat}} </a>
    </li>
  </ul>
</div>

<div (click)=sum() style="float: left;padding-left: 10px;">
  <img src="assets/img/{{ cat.photo }}">
  <h2>{{ cat.cat }}</h2>
  <h2>Clicks {{ cat.num }} </h2>
</div>

<div style="float: left;padding-left: 10px;">
  <button (click)=showAdmin() >Admin</button><br>
  <div [style.display]="admin?'none':'inherit'" >
    <label for="cat">Nome: </label>
    <input type="text" [(ngModel)]="cat.cat"  ><br>
    <label for="pic">Foto: </label>
    <input type="text" id="pic" value="{{cat.photo}}" disabled ><br>
    <label for="clicks">Clicks: </label>
    <input type="number" id="clicks" [(ngModel)]="cat.num"  ><br>
    <button (click)=hideAdmin()>Cancelar</button>
    <button (click)=saveCat(cat)>Salvar</button>
  </div>
</div>
